body{
	background: #edf8f9;
}
.main_wrap {
	background: #dff2f4;
}
.search_form input[type="text"]{
	border: 5px solid #fff;
	background: #49b3bf;
}
.search_form input[type="text"]:focus{
	border-color: #49b3bf;
}
/*.search_form input[type="text"]:focus + .search_button {
	background: none;
}*/
.product_nav td {
	background: #49b3bf;
	line-height: 28px;
}
.product_nav td:hover {
	background: #fff;
}
.product_nav td:hover > a {
	color: #176173;
	font-family: "Verdana";
	font-size: 10px;
	font-weight: bold;
}
.search_form .example, .search_form .example a {
	color: #008993;
}
.product_nav td > a {
	font-size: 10px;
	text-shadow: none;
	background: none;
	padding: 1px 14px;
}
.arise_box {
	background: #fff;
	top: 47px;
}
.results_list .name {
	color: #2d2d2d;
	font-family: "Arial";
	font-size: 13px;
	margin: 8px 0 15px 8px;
	/*display: inline-block;*/
}
.small_popup_box {
	color: #008993;
	font-size: 13px;
	float: left;
}
.basket_box > a {
	background: #ef018d;
	padding: 6px 16px 6px 16px;
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	margin-left: 15px;
	float: left;
}
.button {
	background: #ef018d;
	margin-bottom: 2px;
}
.button:hover{
	background: #2d2d2d;
}
.basket_box > a:hover {
	background: #2d2d2d;
}
.phone_button img {
	margin-left: -10px;
	margin-right: 6px;
}
.phone_button{
	background: url(../proj_2/img/bg_sprite1.png) repeat-x;
	padding: 0 12px 0 15px;
	font-size: 20px;
	margin: 15px 0 0;		
}
.search_form .example {
	margin: 1px 0 0 22px;
}
.phone_button:hover {
	background-position: 0 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #49b3bf;
}
.mCSB_scrollTools .mCSB_draggerRail {
	background: #edf8f9;
}
.title_popup {
	background: #2aacb3;
	font-size: 12px;
	letter-spacing: 0px;
}
.small_popup.orange .title_popup {
	background: #ef018d;
}
.small_popup.orange {
	border-color: #ef018d;
	padding: 0px;
	background: #edf8f9;
}
.section_list li.recipe:hover, .unload_box.not_bind .section_list li:hover {
	background: #fe0199;
	background: -moz-linear-gradient(top,  #fe0199 0%, #dd0185 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe0199), color-stop(100%,#dd0185));
	background: -webkit-linear-gradient(top,  #fe0199 0%,#dd0185 100%);
	background: -o-linear-gradient(top,  #fe0199 0%,#dd0185 100%);
	background: -ms-linear-gradient(top,  #fe0199 0%,#dd0185 100%);
	background: linear-gradient(to bottom,  #fe0199 0%,#dd0185 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0199', endColorstr='#dd0185',GradientType=0 );
	border-color:#f10191;
}
.section_list li.recipe:hover .section_name {
	color:#fff;
}
.section_list li:hover, .unload_box .section_list li.active {
	background: #44b0bc;
	background: -moz-linear-gradient(top,  #44b0bc 0%, #0b8f9b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44b0bc), color-stop(100%,#0b8f9b));
	background: -webkit-linear-gradient(top,  #44b0bc 0%,#0b8f9b 100%);
	background: -o-linear-gradient(top,  #44b0bc 0%,#0b8f9b 100%);
	background: -ms-linear-gradient(top,  #44b0bc 0%,#0b8f9b 100%);
	background: linear-gradient(to bottom,  #44b0bc 0%,#0b8f9b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b0bc', endColorstr='#0b8f9b',GradientType=0 );
}
.section_list li:hover, .unload_box .section_list li.active {
	border-color: #249ea9;
}
.section_list li.recipe:hover .have_item {
	background-position: -337px -52px;
}
.section_list .have_item, .nomenclature_box .section_list li:hover .change, .nomenclature_box .section_list li .change {
	background: url(../proj_2/img/img_sprite.png) no-repeat -376px -52px;
}
.small_popup_box_reg {	
	font-size: 13px;
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: -20px;
	color: #008993;
	float: left;
	font-weight: bold;
	line-height: 26px;
}
.small_popup_box_reg a{
	color: #008993;
	text-decoration: none;
}
.phone_box {
	background: none;
	margin: -13px 0 0 0;
	letter-spacing: -1px;
	width: 215px;
}
.product_nav_box {
	padding-top: 17px;
}
.paginator a {
	background: url(../proj_2/img/img_sprite.png) no-repeat -141px -79px;
	height: 12px;
	width: 12px;
}
.close_filter_second, .close_filter {
	background: url(../proj_2/img/img_sprite.png) no-repeat -410px -27px;
	display: inline-block;
	height: 10px;
	width: 10px;
	float: right;
}
.phone_box p {
	color: #000;
	font-size: 11px;
	font-weight: bold;
}
.scrollResultsLine {
	margin-top: -30px;
}
.section_list .small_popup {
	right: -1px;
}
.small_popup {
	top: 29px;
	border:none;
	padding: 4px;
}
.section_list li {
	width: 93%;
}
.main_wrap {
	border-left: 1px solid #dff2f4;
	border-right: 1px solid #dff2f4;
}
.basket_ico {
	left: 4px;
	margin: 0 11px 0 4px;

}
.basket_box {
	margin: 6px 0px 0;
	zoom:1;
}
.small_popup_box b{
	letter-spacing: -1px;
	margin-right: -7px;
	line-height: 26px;
	display: inline-block;
}
.search_form {
	margin: 12px 82px 0 0;
}
.check_item {
	color: #5b2d7b;
	margin: 10px 0 0 0;
}
.order_list li {
	color: #2d2d2d;
}
.order_list .del_box {
	margin: 0 6px 0 0;
	width: 69px;
}
.title_popup.deletedBox{
	background: #f1f1f1;
	color: #ef018d;
	font-weight: bold;
}
.delete_help {
	margin: 0 9px 0 0;
}
.fade_help {
	background: url(../proj_2/img/img_sprite.png) no-repeat -337px 0;
}
.delete_one .del_name {
	color: #ef018d;
	text-decoration: none;
}
.basket_price_box .basket_price {
	margin-right:-2px; 
}
.delete_one .arrow {
	background: url(../proj_2/img/img_sprite.png) no-repeat -215px 3px;
}
.basket_price_box .text {
	color: #2d2d2d;
	width: 120px;
	margin: 0 0 0 78px;
}
.next_buy {
	color: #ef018d;
	font-size: 12px;
	text-decoration: underline;
}
.basket_price_box {
	font-family: "Calibri";
	font-size: 13px;
	color: #2d2d2d;
	margin: 9px 5px 20px 0;
}
.header_fixed .basket_box > a {
	color: #fff;
}
.title_popup.dark{
	background: #49b3bf;
	font-family: "Calibri";
	font-size: 13px;
	letter-spacing: 0;
}
.popup_info {
	color: #2d2d2d;
}
.popup_info a {
	color: #ef018d;
	text-decoration: underline;
}
.small_popup.search_popup{
	padding: 0px;
	left: 12px;
	background: #edf8f9;
}
.product_list .price {
	line-height: 18px;
}
.product_nav tbody tr:first-child td:first-child > a{
	background: url(../proj_2/ico/home.png) 13px 6px no-repeat;
	height: 28px;
	width: 13px;
}
.product_nav tbody tr:first-child td:first-child:hover > a{
	background: url(../proj_2/ico/home_hover.png) 13px 6px no-repeat;
}
.slider_carousel .prev, .slider_carousel .next {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -303px;
}
.slider_carousel .next {
	background-position: -141px -303px;
}
.scroll-pane .ui-slider-handle {
	background: #49b3bf;
}
.scroll-pane .scroll-bar-wrap {
	background: #dff2f4;
}
.rating {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -131px;
}
.product_list .info {
	color: #00737d;
}
.product_list h3 {
	line-height: 13px;
}
.buy_button {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -1377px;
}
.big_title {
	background: #49b3bf;
	text-shadow: none;
	line-height: 11px;
}
.language_filter li.active a {
	text-decoration: underline;
}
.language_filter a {
	color: #2d2d2d;
}
.alphabet a.active, .alphabet a:hover {
	background: #49b3bf;
}
.alphabet a {
	font-family: "Tahoma";
	font-size: 10px;
	line-height: 10px;
	padding: 8px 9px 7px 9px;
}
.alphabet {
	margin: -4px 0 0 11px;
}
.category_list dd:hover{
	width: 93%;
	background: #44b0bc;
	background: -moz-linear-gradient(top,  #44b0bc 1%, #0b8f9b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#44b0bc), color-stop(100%,#0b8f9b));
	background: -webkit-linear-gradient(top,  #44b0bc 1%,#0b8f9b 100%);
	background: -o-linear-gradient(top,  #44b0bc 1%,#0b8f9b 100%);
	background: -ms-linear-gradient(top,  #44b0bc 1%,#0b8f9b 100%);
	background: linear-gradient(to bottom,  #44b0bc 1%,#0b8f9b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b0bc', endColorstr='#0b8f9b',GradientType=0 );
}
.category_list dd:hover a{
	text-decoration: none;
	color: #fff;
}
.category_list dd:hover .fade_help{
	display: none;
}
.arise_box .content {
	margin: 4px 0 4px 4px;
	padding: 12px 0px 5px 0px;
}
.category_wrap.first {
	margin: 9px 0 -10px 6px;
}
.category_list dd {
	padding: 0 0 0 10px;
	margin-top: 0px;
}
.title_category {
	margin-left: 10px;
}
.category_wrap {
	margin: 8px 0 -10px 2px;
	width: 327px;
}
#footer {
	border-top: 3px solid #d5d5d5;
}
.breadcrumbs a {
	color:#ef018d;
}
.breadcrumbs{
	margin: 2px 0 0 14px;
	position: relative;
	z-index: 2;
}
.breadcrumbs.second {
	margin: 2px 0 0 0px;
	position: relative;
	z-index: 2;
	background: #fff;
	padding: 0 0 23px 14px;
}
.separator {
	border-top: 1px solid #d5d5d5;
	margin: 16px 7px 0 7px;
}
.title_arise {
	margin-left: 10px;
}
.fail_text {
	margin: 30px 0 102px 10px;
	float: left;
	width: 420px;
}
.erorr_second{
	width: 415px;
	height: 369px;
	float: left;
	margin: -34px 0 0 35px;
}
.fail_text a{
	color: #ef018d;
	text-decoration: underline;
}
.order_button {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -1730px;
}
.category_wrap.second {
	padding: 0 0 200px 0;
	margin: -40px 0 -10px 0px;
}
.category_list.second dd:hover {
	background: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
.category_list.second dd:hover a {
	color: #ef018d;
	text-decoration: underline;
}
.category_list.second dt {
	margin: 40px 0 15px 10px;
	font-family: "Verdana";
	font-size: 10px;
}
.category_list.second dd {
	margin-top: 8px;
}
.category_list.second dd:hover .fade_help {
	display: inline-block;
	background-position: -323px -163px;
}
.place_order_button {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -1826px;
}
.middle_wrap_sec{
	background: #fff;
	position: relative;
}
#middle.border {
	margin: 0 7px 0 7px;
	border-top: 1px solid #d5d5d5;
	padding-top: 18px;
}
#content.second {
	margin-left: 116px;
}
.form_style {
	background: #edf8f9;
}
.form_style:hover{
	background: #dff2f4;
}
.form_style .color input[type="text"], .form_style .color input[type="password"], .form_style .color .inp_text {
	color: #ef018d;
}
.authorization_button {
	height: 28px;
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -1174px;
}
.reg_info {
	color: #000;
	font-style: normal;
}
.reg_info a{
	color:#ef018d;
}
.registration_button {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -1926px;
	height: 28px;
	width: 164px;
}
.steps_second{
	overflow: hidden;
	margin-left: 14px;
}
.steps_second li {
	float: left;
	border-bottom: 5px solid #edf8f9;
	width: 32%;
	padding: 0 7px 7px 3px;
}
.steps_second li:hover, .steps_second li.active, .steps_second li.hover:hover {
	border-bottom: 5px solid #49b3bf;
}
.steps_second li.active.hover {
	border-bottom: 5px solid #49b3bf;
}
.steps_second li.active.hover a, .steps_second li.hover:hover a {
	color: #2d2d2d;
}
.steps_second li.hover{
	border-bottom: 5px solid #aadce1;
}
.steps_second li:hover a, .steps_second li.active a{
	color: #2d2d2d;
}
.steps_second li a, .steps_second li.hover a{
	color: #ababab;
	font-family: "Verdana";
	font-size: 10px;
	text-decoration: none;
}
.big_table td .check_item{
	color: #2d2d2d;
	font-family: "Calibri";
	font-size: 13px;
}
.big_table .name a {
	color: #2d2d2d;
}
.big_table .set_aside {
	color: #ef018d;
}
.big_table .set_aside:hover {
	color: #2d2d2d;
}
.continue_button {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -2155px;
	height: 28px;
	width: 110px;
}
.price_info .price {
	margin: 1px 0 0 -28px;
}
.price_info .continue_button.reg_but{
	margin-right: 86px;
}
.no_item {
	color:#00737d;
}
.price_info {
	margin: 13px 7px 0 7px;
}
.delivery_list input[type="radio"] + b, .appraisal_list input[type="radio"] + b {
	height: 21px;
	width: 21px;
	background: url(../proj_2/img/img_sprite.png) no-repeat -141px -111px;
}
.radio_style li {
	float: none;
}
.delivery_list > li {
	width: 92%;
	padding: 5px 0 5px 50px;
}
.delivery_list input[type="radio"] + b.pay{
	background: url(../proj_2/img/img_sprite.png) no-repeat -141px -27px;
	top: 6px;
}
.delivery_list input[type="radio"]:checked + b.pay, .appraisal_list input[type="radio"]:checked + b.pay{
	background-position: -185px -27px;
}
.delivery_list_second{
	overflow: hidden;
}
.delivery_list_second li{
	float: left;
}
.delivery_list.radio_style{
	color: #818181;
	font-family: "Arial";
	font-size: 12px;
}
.delivery_list h3 {
	color: #2d2d2d;
}
.pay_second{
	margin: 8px 0 0 0;
	display: inline-block;
	width: 400px;
}
.pay_second img{
	display: inline-block;
	margin-left: 20px;
}
.reg_but {
	margin: 22px 0px 0 0;
}
.fail_text.wide{
	width: 100%;
}
.title_arise.top {
	margin-top: 8px;
}
.content_bg_top{
	background: #edf8f9;
	height: 28px;
	color: #000;
	font-family: "Verdana";
	font-size: 10px;
	font-weight: bold;
	line-height: 28px;
	padding-left: 14px;
}
.content_bg_wrap{
	background: #edf8f9;
	width: 730px;
	height: 100%;
	margin: 0 auto;
}
.content_bg_wrap .delivery_list{
	margin: 21px 0 0 8px;
	padding-top: 40px;
}
#middle.border.alt.white {
	background: #fff;
	margin: 21px 0 0 0;
	border-color: #ebebcd;
}
.arise_box.showBox.catalog{
	height: 44px;
}
.arise_box.showBox.catalog .separator{
	margin: 36px 7px 0 7px;
	border-top: 1px solid #dff2f4;
}
.product_filters select + .sbHolder {
	border: 1px solid #49b3bf;
}
.close_filter_second.blue , .close_filter .blue{
	background: url(../proj_2/img/img_sprite.png) no-repeat -410px -27px;
}
.close_filter_second.blue:hover, .close_filter.blue:hover {
	background-position: -449px -27px;
}
.title_small.product_title.catalog{
	color: #176173;
	font-size: 10px;
}
.sbSelector {
	color: #2d2d2d;
}
#content.alt {
	margin-right: 105px;
}
.inp_text.purple{
	color: #ef018d;
}
.reg_info.purple a{
	color: #ef018d;
	font-family: "Arial";
	font-size: 12px;
}
.title_big {
	font-family: "Verdana";
	font-size: 10px;
	text-transform: uppercase;
}
.send_order.reg_but{
	background: url(../proj_2/img/img_sprite.png) no-repeat -337px -2338px;
	height: 28px;
	width: 136px;
}
.send_order.reg_but:hover{
	background-position: -772px -2338px;
}
.delivery_list.map{
	margin: 0px 0 0 -20px;
	padding-top: 0;
}

#newMap{
	width: 702px;
	height: 500px;
	margin-top: 30px;
	margin-left: -44px;
}
#middle.success{
	padding-bottom: 63px;
	background: #fff;
	margin: 0px 0 0 0;
	padding-top: 0px;
}
.breadcrumbs.white_bg{
	padding: 0 0 22px 14px;
	background: #fff;
	margin: 2px 0 0 0px;
}
.separator.second {
	margin: 0px 7px 0 7px;
}
.note_text{
	color: #000;
	font-family: "Calibri";
	font-size: 14px;
	padding: 12px 14px 12px 14px;
}
.nav_slider.products {
	margin: 19px 0 0;
}
.slider_carousel .next {
	right: 6px;
}
.slider_carousel .prev {
	left: 6px;
}
#middle.success.produ {
	padding-bottom: 0px;
	position: relative;
}
.scroll-pane .scroll-bar-wrap {
	margin: 7px 11px 3px 11px;
	overflow: hidden;
}
.sort_disease.radio_style.disease{
	margin: 0px 0 0 12px;
}
.sort_disease.radio_style.disease li{
	float: left;
}
.sort_text {
	margin: 0px 0 0 0px;
}
.arise_box .content {
}
.content.disease {
	margin: 4px 0 4px 14px;
}
.content.disease .separator {
	margin: 16px 7px 0px -7px;
}
.content.disease .resultDisScroll {
	margin-left: -8px;
}
.results_list .close_all {
	color: #ef018d;
}
.results_list > li {
	margin: 0px 0 0 8px;
	width: 325px;
}
.small_popup.disease{
	display: none;
	position: absolute;
	top: -24px;
	right: -5px;
	width: 70px;
	height: 21px;
	line-height: 21px;
	color: #fff;
	font-family: "Arial";
	font-size: 13px;
	background: #2d2d2d;
	padding: 0;
	border-left: 10px solid #fff;
	text-align: center;
}
.shopping{
	background: url(../proj_2/img/img_sprite.png) no-repeat -835px 0px;
	height: 16px;
	width: 21px;
	display: none;
	position: absolute;
	top: 1px;
	right: 4px;
	cursor: pointer;
	z-index: 10;
}
.section_list li .shopping:hover .small_popup.disease, .section_list li:hover .small_popup.orange, .section_list li:hover .shopping {
	display: inline-block;
}
.section_list li:hover .small_popup {
	display: none;
}
/*.name.info .name_info.first{
		top: -14px;
		margin: 0px 0px -13px 5px;
}*/
.fade_help.green_small{
	display: none;
	width: 42px;
	background: url(../proj_2/img/img_sprite.png) no-repeat -759px -27px;
	height: 21px;
	top: -1px;
	right: -1px;
	position: absolute;
}
.fade_help.purple_small{
	display: none;
	background: url(../proj_2/img/img_sprite.png) no-repeat -759px -79px;
	display: none;
	width: 42px;
	height: 21px;
	top: -1px;
	right: -1px;
	position: absolute;
}
.scroll_box .section_list li:hover .fade_help.green_small, .scroll_box .section_list li:hover .fade_help.purple_small{
	display: inline-block;
}
.search_info_disease_wrap{
	background: #edf8f9;
	padding: 7px 5px 0 0;
	width: 325px;
	position: absolute;
	height: 193px;
	top: 31px;
	left: -296px;
	z-index: 15;
	cursor: default;
}
.search_info_disease{
	background: #edf8f9;
	color: #2d2d2d;
	font-family: "Tahoma";
	font-size: 11px;
	line-height: 16px;
	height: 168px;
	padding: 8px 0px 5px 15px;
}
.search_info_disease p{
	padding-right: 15px;
}
.results_list.filtrSearch li .mCSB_scrollTools .mCSB_draggerRail {
	background: #fff;
}
.scroll_box .section_list li {
	font-family: "Arial";
	font-size: 13px;
}
.search_info_disease_wrap .close_filter_second, .search_info_disease_wrap .close_filter {
	margin: 0 0 0 0;
}
.section_list.disease li {
	width: 86%;
}
.attention_box a {
	color:#ef018d;
}
.attention_box.bottom {
	color: #2d2d2d;
	font-family: "Arial";
	font-size: 12px;
	margin: 0px 8px 0 24px;
	padding-bottom: 6px;
}
.header_fixed.product .search_form {
	margin: 0 3px 0 0;
	float: left;
}
.header_fixed .basket_box {
	margin: 7px 10px 0 0;
}
.header_fixed.product .basket_box > a {
	margin-left: 10px;
	float: none;
}
.product_preview {
	float: left;
	margin: 2px 0px 0 0px;
}
.product_preview .price_box {
	float: left;
	text-align: center;
	width: 90px;
}
.product_preview .name {
	margin: 2px 3px 0 0;
}
.arrow.up.search{
	background: url(../proj_2/img/img_sprite.png) no-repeat -423px -52px;
	position: absolute;
	top: 18px;
	right: 41px;
	display: none;
}
.search_form.disease input[type="text"]:focus + .close_filter.black + .arrow.up.search, .search_form.disease input[type="text"]:focus + .close_filter_second.black + .arrow.up.search{
	display: inline-block;
}
.search_form.disease input[type="text"]:focus + .close_filter.black  + .arrow.up.search + .search_button, .search_form.disease input[type="text"]:focus + .close_filter_second.black  + .arrow.up.search + .search_button, {
	background: url(../proj_2/img/img_sprite.png) no-repeat -376px -111px;
}
.close_filter.black, .close_filter_second.black {
	display: none;
	position: absolute;
	top: 16px;
	right: 57px;
	background: url(../proj_2/img/img_sprite.png) no-repeat -520px -27px;
}
.close_filter.black:hover, .close_filter_second.black:hover {
	background-position: -563px -27px;
}
.search_form.disease input[type="text"]:focus + .close_filter.black, .search_form.disease input[type="text"]:focus + .close_filter_second.black{
	display: inline-block;
}
.search_form.disease input[type="text"]:focus + .close_filter.black  + .arrow.up.search + .search_button + .small_popup_right_wrap,  .search_form.disease input[type="text"]:focus + .close_filter_second.black  + .arrow.up.search + .search_button + .small_popup_right_wrap{
	display: block;
}
.small_popup_right.help_list_wrap{
	width: 235px;
	height: 151px;
	background: #fff;
	display: block;
	z-index: 15;
	padding: 5px 3px 0 0;
}
.section_list.disease.help_list li{
	width: 90%;
	padding-left: 10px;
	overflow: hidden;
}
.help_list li a{
	display: block;
	color: #000;
	font-family: "Arial";
	font-size: 13px;
	text-decoration: none;
}
.help_list li:hover a{
	color: #fff;
}
.section_list.disease.help_list li .fade_help.green_small{
	display: none;	
}
.section_list.disease.help_list li:hover .fade_help.green_small{
	display: block;
}
.section_list.disease.help_list li .fade_help.white_small{
	background: url(../proj_2/img/img_sprite.png) no-repeat -409px -163px;
	width: 41px;
}
.section_list.disease.help_list li:hover .fade_help.white_small{
	display: none;
}
.small_popup_right_wrap{
	display: none;
	position: absolute;
	right: 0px;
	top: 40px;
	z-index: 15;
}
.arise_box .content_bg_top.right {
	padding-left: 34px;
	float: right;
	width: 315px;
	text-align: left;
	color: #2d2d2d;
	font-family: "Arial";
	font-size: 13px;
	position: relative;
	cursor: pointer;
}
.name_info.product_name{
	position: relative;
	top: 8px;
	right: 8px;
	display: inline-block;
	height: 14px;
	width: 15px;
	float: right;
	background: url(../proj_2/img/img_sprite.png) no-repeat -705px 0px;
}
.content_bg_top.search_popup{
	position: absolute;
	top: 29px;
	right: 0;
	width: 250px;
	height: 130px;
	z-index: 15;
	padding: 0;
}
.content_bg_top.search_popup .title_popup {
	margin-top: 0;
	font-size: 12px;
	letter-spacing: 0;
}
.content_bg_top.search_popup .popup_info {
	font-weight: normal;
}
.publication p {
	text-align: left;
}
.publication h3 {
	text-align: left;
}
.slider .slides.second li {
	position: relative;
	text-align: center;
	float: left;
	width: 303px;
	cursor: pointer;
}
/*.slider .slides li.active img{
	border:1px solid #49b3bf;
	padding: 5px;
}*/
.publication {
	position: relative;
	margin-right: 21px;
	overflow: hidden;
}
.slider .slides.second {
	width: 9999px;
}
.slides_control{
	position: absolute;
	top: 0px;
	left: 0px;
}
.slides_control li {
	margin: 8px 0 0 0;
}
.slides_control li:first-child {
	margin: 0;
}
.slides_control li a {
	display: inline-block;
	padding: 2px 3px 2px 3px;
	border:1px solid transparent;
}
.slides_control li.active a, .slides_control li:hover a{
	border:1px solid #49b3bf;
}
.help_mes{
	position: absolute;
	top: 13px;
	right: 37px;
	color: #999;
	font-family: "Arilal";
	font-size: 13px;
	display: none;
}
.search_form input[type="text"]:focus + .help_mes {
	display: block;
}



/*hint_results*/

.hint_results .name_box{
	position: relative;
	margin: 8px 0 15px 8px;
	cursor: pointer;
	display: inline-block;
}
.hint_results .name_box .name{
	float: left;
	max-width: 275px;
	margin: 0;
}
.hint_results .name_box .name_info{
	float: left;
}

.hint_results .name_box .up{
	float: left;
	margin: 9px 0 0 5px;
}
.hint_results .name_box .fade_help{
	right: 18px;
}

.hint_results .name_info{
	margin: 0px 0 0 5px;
	position: relative;
	top: 2px;
	right: -1px;
	display: inline-block;
	height: 13px;
	width: 13px;
	float: right;
	background: url(../proj_2/img/img_sprite.png) no-repeat -759px 0px;
}

.hint_results .name_box.active .name{
	max-width: 262px;
}
.hint_results .name_box.active .fade_help{
	right: 28px;
}
.section_list.disease.list{
	margin-top: 10px;
}
.section_list.disease.list li{
	line-height: 20px;
}
.section_list.disease.list li .small_popup{
	top:22px;
}
.product_list.white {
	padding: 10px 0 10px 35px;
	margin: 0 0 -23px 0;
	background: #fff;
}
.section_list.disease.list li .small_popup.disease{
	top:-24px;
}
.basket_button {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -1270px;
}
#middle.border.pub {
	margin: 37px 0 0 0;
	padding-top: 10px;
}
.repeat_order_button {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -2042px;
}
.move_block .fade_help {
	background: url(../proj_2/img/img_sprite.png) no-repeat -376px -303px;
}
.move_block .fade_help.left {
	background-position: -376px -337px;
}
.info_list h3 a, .info_list_alt a {
	color: #ef018d;
}
.deleted_list li:hover {
	background: #ef018d;
}
.fade_help.white_small.none{
	right: 0;
}
.form_line {
	margin: 15px 0 0 37px;
}
.avtorization_form .reg_but {
	margin: 37px 0px 0 0;
}
.continue_button.reg_but {
	margin: 35px 10px 10px 0;
}
.newMapSecond{
	display: none;
}
.error{
	outline:1px solid red;
}
.wrap_send_order.disabled{
	display: block;
}
.wrap_send_box_sec{
	position: relative;
	text-align: right;
	margin: 22px 0px 0 0;
}
.wrap_send_box_sec .send_order{
	float: none;
	display: inline-block;
	margin: 0;
}
.wrap_send_order{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 15;
}
/*правки*/
.choose_color.radio_style.second li, .radio_style.second li {
	float: left;
}
.radio_style input[type="radio"] + b {
	top: 0;
}
.slider_carousel .next:hover {
	background-position: -141px -443px;
}
.slider_carousel .prev:hover{
	background-position: -0px -443px;
}
.sub_nav a:hover {
	color: #ef018d;
}
.deleted_list li, .deleted_items {
	letter-spacing: 0;
}
.article_box a {
	color: #ef018d;
}
.article_box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #49b3bf;
}
.wrap_lastStep{
	overflow: hidden;
	margin: 14px auto;
	width: 744px;
}
.button:hover, .button.grey:hover {
	background: #2d2d2d;
}
.publish_button {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -2272px;
}
.reviews_list .recommendation, .article .source a, .review_titile_example span {
	color: #ef018d;
}
.wrap.white {
	width: 1000px;
}
.close_filter.purple{
	background: url(../proj_2/img/img_sprite.png) no-repeat -410px 0px;
	display: inline-block;
	height: 10px;
	width: 10px;
	float: right;
}
.close_filter.purple:hover{
	background-position: -449px 0;
}