body{
	background: #edf8f9;
}
.main_wrap {
	background: #dff2f4;
}
.search_form input[type="text"]{
	border: 5px solid #fff;
	background: #49b3bf;
}
.search_form input[type="text"]:focus{
	border-color: #49b3bf;
}
.search_form input[type="text"]:focus + .search_button {
	background: none;
}
.product_nav td {
	background: #49b3bf;
	line-height: 28px;
}
.product_nav td:hover {
	background: #fff;
}
.product_nav td:hover > a {
	color: #176173;
	font-family: "Verdana";
	font-size: 10px;
	font-weight: bold;
}
.search_form .example, .search_form .example a {
	color: #008993;
}
.product_nav td > a {
	font-size: 10px;
	text-shadow: none;
	background: none;
	padding: 1px 14px;
}
.arise_box {
	background: #fff;
	top: 30px;
}
.results_list .name {
	color: #2d2d2d;
	font-family: "Arial";
	font-size: 13px;
	margin-bottom: 15px;
}
.small_popup_box {
	color: #008993;
	font-size: 13px;
}
.basket_box > a {
	background: #ef018d;
	padding: 6px 16px 6px 16px;
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	margin-left: 10px;
}
.button {
	background: #ef018d;
	margin-bottom: 2px;
}
.button:hover{
	background: #2d2d2d;
}
.basket_box > a:hover {
	background: #2d2d2d;
}
.phone_button img {
	margin-left: -10px;
	margin-right: 6px;
}
.phone_button{
	background: url(../proj_2/img/bg_sprite1.png) repeat-x;
	padding: 0 12px 0 15px;
	font-size: 20px;
	margin: 15px 0 0;		
}
.search_form .example {
	margin: 1px 0 0 22px;
}
.phone_button:hover {
	background-position: 0 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #49b3bf;
}
.mCSB_scrollTools .mCSB_draggerRail {
	background: #edf8f9;
}
.title_popup {
	background: #2aacb3;
	font-size: 12px;
	letter-spacing: -1px;
}
.small_popup.orange .title_popup {
	background: #ef018d;
}
.small_popup.orange {
	border-color: #ef018d;
	padding: 0px;
	background: #edf8f9;
}
.section_list li.recipe:hover, .unload_box.not_bind .section_list li:hover {
	background: #fe0199;
	background: -moz-linear-gradient(top,  #fe0199 0%, #dd0185 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe0199), color-stop(100%,#dd0185));
	background: -webkit-linear-gradient(top,  #fe0199 0%,#dd0185 100%);
	background: -o-linear-gradient(top,  #fe0199 0%,#dd0185 100%);
	background: -ms-linear-gradient(top,  #fe0199 0%,#dd0185 100%);
	background: linear-gradient(to bottom,  #fe0199 0%,#dd0185 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0199', endColorstr='#dd0185',GradientType=0 );
	border-color:#f10191;
}
.section_list li.recipe:hover .section_name {
	color:#fff;
}
.section_list li:hover, .unload_box .section_list li.active {
	background: #44b0bc;
	background: -moz-linear-gradient(top,  #44b0bc 0%, #0b8f9b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44b0bc), color-stop(100%,#0b8f9b));
	background: -webkit-linear-gradient(top,  #44b0bc 0%,#0b8f9b 100%);
	background: -o-linear-gradient(top,  #44b0bc 0%,#0b8f9b 100%);
	background: -ms-linear-gradient(top,  #44b0bc 0%,#0b8f9b 100%);
	background: linear-gradient(to bottom,  #44b0bc 0%,#0b8f9b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b0bc', endColorstr='#0b8f9b',GradientType=0 );
}
.section_list li:hover, .unload_box .section_list li.active {
	border-color: #249ea9;
}
.section_list li.recipe:hover .have_item {
	background-position: -337px -52px;
}
.section_list .have_item, .nomenclature_box .section_list li:hover .change, .nomenclature_box .section_list li .change {
	background: url(../proj_2/img/img_sprite.png) no-repeat -376px -52px;
}
.small_popup_box_reg{	
	font-size: 13px;
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: -20px;
}
.small_popup_box_reg a{
	color: #008993;
	text-decoration: none;
}
.phone_box {
	background: none;
	margin: -13px 0 0 0;
	letter-spacing: -1px;
	width: 215px;
}
.product_nav_box {
	margin: 17px 0 0 0;
}
.paginator a {
	background: url(../proj_2/img/img_sprite.png) no-repeat -141px -79px;
	height: 12px;
	width: 12px;
}
.close_filter {
	background: url(../proj_2/img/img_sprite.png) no-repeat -410px 0;
}
.phone_box p {
	color: #000;
	font-size: 11px;
	font-weight: bold;
}
.scrollResultsLine {
	margin-top: -30px;
}
.section_list .small_popup {
	right: -1px;
}
.small_popup {
	border:none;
	padding: 4px;
}
.section_list li {
	width: 93%;
}
.small_popup_box_reg {
	color: #008993;
}
.main_wrap {
	border-left: 1px solid #dff2f4;
	border-right: 1px solid #dff2f4;
}
.basket_ico {
	left: 4px;
	margin: 0 11px 0 4px;

}
.basket_box {
	margin: 6px 0px 0;
}
.small_popup_box b{
	letter-spacing: -1px;
	margin-right: -7px
}
.search_form {
	margin: 12px 82px 0 0;
}
.check_item {
	color: #5b2d7b;
	margin: 10px 0 0 0;
}
.order_list li {
	color: #2d2d2d;
}
.order_list .del_box {
	margin: 0 6px 0 0;
	width: 69px;
}
.title_popup.deletedBox{
	background: #f1f1f1;
	color: #ef018d;
	font-weight: bold;
}
.delete_help {
	margin: 0 9px 0 0;
}
.fade_help {
	background: url(../proj_2/img/img_sprite.png) no-repeat -337px 0;
}
.delete_one .del_name {
	color: #ef018d;
	text-decoration: none;
}
.basket_price_box .basket_price {
	margin-right:-2px; 
}
.delete_one .arrow {
	background: url(../proj_2/img/img_sprite.png) no-repeat -215px 3px;
}
.basket_price_box .text {
	color: #2d2d2d;
	width: 120px;
	margin: 0 0 0 78px;
}
.next_buy {
	color: #ef018d;
	font-size: 12px;
	text-decoration: underline;
}
.basket_price_box {
	font-family: "Calibri";
	font-size: 13px;
	color: #2d2d2d;
	margin: 9px 5px 20px 0;
}
.header_fixed .basket_box > a {
	color: #fff;
}
.title_popup.dark{
	background: #49b3bf;
	font-family: "Calibri";
	font-size: 13px;
}
.popup_info {
	color: #2d2d2d;
}
.popup_info a {
	color: #ef018d;
	text-decoration: underline;
}
.small_popup.search_popup{
	padding: 0px;
	left: 12px;
	background: #edf8f9;
}
.product_list .price {
	line-height: 18px;
}
.product_nav tbody tr:first-child td:first-child > a{
	background: url(../proj_2/ico/home.png) 7px 6px no-repeat;
	height: 28px;
}
.product_nav tbody tr:first-child td:first-child:hover > a{
	background: url(../proj_2/ico/home_hover.png) 7px 6px no-repeat;
}
.slider_carousel .prev, .slider_carousel .next {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -303px;
}
.slider_carousel .next {
	background-position: -141px -303px;
}
.scroll-pane .ui-slider-handle {
	background: #49b3bf;
}
.scroll-pane .scroll-bar-wrap {
	background: #dff2f4;
}
.rating {
	background: url(../proj_2/img/img_sprite.png) no-repeat 0 -131px;
}